body {
    background-color: var(--background-color);
    color: var(--text-color);
    font-family: var(--font-family-roboto);
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
}