@mixin section($padding-top: 94px, $padding-bottom: 94px) {
    padding-top: $padding-top;
    padding-bottom: $padding-bottom;
}

@mixin flex-basis($indent, $item) {
    flex-basis: calc((100% - #{$indent} * (#{$item} - 1)) / #{$item});
}